:root {
  /* ===== General ===== */

  --text: #ffffff;
  --button: #592be0;
  --primary: #0c0e2c;
  --secondary: #17093e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary);
}
button {
  background-color: var(--button);
  color: var(--text);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 900;
}

h1,
h2 {
  font-family: 'Titan One', sans-serif;
}

h1,
h2,
h3,
p,
span {
  color: var(--text);
}

a {
  text-decoration: none;
  transition: border-bottom 0.3s ease-in-out;
}
