:root {
  /* ===== General ===== */

  --text: #ffffff;
  --button: #592be0;
  --primary: #0c0e2c;
  --secondary: #17093e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--button);
  color: var(--text);
  border-radius: 4px;
  border: none;
}

h1,
h2 {
  font-family: 'Titan One', sans-serif;
}
